@model appathon_component.Models.SearchRequestModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<h2>Index</h2>
@using (Html.BeginForm())
{
   
    <div class="form-horizontal">

        <hr />

        <div class="form-group">

            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

    </div>
}
<script>
   
            //$('#Name').autocomplete({
            //    source: function (request, response) {
            //        $.ajax({
            //            url: "/Search/Text",
            //            data: "{'term' :'" + request.term + "'}",
            //            dataType: "json",
            //            type: "POST",
            //            contentType: "application/json; charset=utf-8",
            //            success: function (data) {
            //                response($.map(data.d, function (item) {

            //                    return {
            //                        CountryName: item.CountryName,
            //                        Logo: item.Logo,
            //                        json: item
            //                    }
            //                }))
            //            },
            //            error: function (XMLHttpRequest, textStatus, errorThrown) {
            //                alert(textStatus);
            //            }
            //        });
            //    },
            //    focus: function (event, ui) {
            //        // this is for when focus of autocomplete item 
            //        $('#Name').val(ui.item.CountryName);
            //        return false;
            //    },
            //    select: function (event, ui) {
            //        // this is for when select autocomplete item
            //        $('#Name').val(ui.item.CountryName);
            //        return false;
            //    }
            //}).data("ui-autocomplete")._renderItem = function (ul, item) {
            //    debugger;
            //    // here return item for autocomplete text box, Here is the place 
            //    // where we can modify data as we want to show as autocomplete item
            //    return $("<li>")
            //        .append("<a style='padding-left:40px; background-image:url(/CountryLogo/" + item.Logo + ");" +
            //            "background-repeat:no-repeat;background-position:left center;' >" + item.CountryName + "</a>").appendTo(ul);
            //};
       
        $("#Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Search/Text",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
   
</script>